<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tracks</h1>

<% tracks.forEach(element => { %>
 
    <h2><%= element.name %>  </h2>
    <audio controls>
        <source src=<%=element.preview_url%> type="audio/ogg">
        <source src=<%=element.preview_url%>  type="audio/mpeg">
      </audio>
      <form action="/create_playlist" method="GET">
        <input type="text" name="description">
        <input type="submit" value="Create Playlist and Add">
        </form>
  <a href="/create_playlist">Create Playlist</a>

  <h3>playlist</h3>

  
  <a href="/add_playlist">Add to existing Playlist</a>
<% }) %>



<script>

</script>
</body>
</html>